<div class="contextual">
  <%= link_to l(:button_edit), edit_global_issue_template_path(@template),
    class: 'icon icon-edit', accesskey: accesskey(:edit) %>
<%= link_to l(:button_delete), global_issue_template_path(@template), method: :delete,
    data: { confirm: l(:text_are_you_sure),
            error: (l(:enabled_template_cannot_destroy) if @template.enabled?) },
    disabled: @template.enabled?, class: 'icon icon-del template-disabled-link' %>
</div>

<%= title [l(:global_issue_templates), global_issue_templates_path], @template.title %>

<%= render partial: 'common/show', locals: { issue_template: @template } %>
