<% if authorize_for('issue_templates', 'show') %>
<h3><%= l(:issue_template)%> </h3>
<ul>
  <li><%= link_to l(:label_list_templates), project_issue_templates_path(@project) %></li>
  <% if authorize_for :issue_templates, :new %>
    <li><%= link_to l(:label_new_templates), new_project_issue_template_path(@project) %></li>
  <% end %>
</ul>
<%- end -%>
