<% if authorize_for('issue_templates', 'show') %>
    <h3><%= l(:issue_template)%></h3>
    <ul><li>
    <%= link_to(l(:label_list_templates),
                controller: 'issue_templates',
                action: 'index',
                project_id: @project) %>
    </li>
    <% if authorize_for :issue_templates, :new %>
    <li>
    <%= link_to(l(:label_new_templates),
                              { controller: 'issue_templates', action: 'new', project_id: @project }) %>
    </li>
    <% end %>
    </ul>
<%- end -%>
